body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #FBF8F1;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1030px;
  width: 100%;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #FBF8F1;
  padding: 10px;
  font-family: verdana;
  font-size: 1.1em;
  text-align: center;
  align-self: center;
  line-height: 60px;
  color: #fcfcf2;
  border: 3px solid #789395;
  border-radius: 5px;
}

.textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 270px;
  outline-color: #789395;
  border: 3px solid #789395;
  font-size: 1.6em;
  border-radius: 5px;
  background-color: #fcfcfa;
}

.firstRow, .thirdRow, .forthRow, .fifthRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: flex-start;
}

.key, .keyAlt, .keyCtrl {
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px;
  background-color: #789395;
}

.key:hover {
  cursor: pointer;
}

.keyAlt:hover {
  cursor: pointer;
}

.keyCtrl:hover {
  cursor: pointer;
}

.keySpace {
  width: 370px;
  height: 60px;
  background-color: #789395;
  margin: 5px;
  border-radius: 3px;
}

.keySpace:hover {
  cursor: pointer;
}

.keyEnter, .keyCaps, .keyBackspace {
  width: 120px;
  height: 60px;
  background-color: #789395;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.keyTab {
  width: 100px;
  height: 60px;
  background-color: #789395;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.keyShift, .keyCmd {
  width: 80px;
  height: 60px;
  background-color: #789395;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.keyShiftLeft {
  width: 160px;
  height: 60px;
  background-color: #789395;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px;
}

.arrowsWrapper {
  max-width: 259px;
  width: 100%;
  height: 60px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "up up up" "left down right";
  grid-auto-flow: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 2px;
  margin: 5px;
  border-radius: 3px;
}

.keyArrow {
  max-width: 80px;
  width: 100%;
  height: 29px;
  background-color: #789395;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 29px;
  color: #fffcfe;
  border-radius: 3px;
}

div#arrowUp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: up;
  -ms-grid-column-align: center;
      justify-self: center;
}

div#arrowLeft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

div#arrowDown {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: down;
}

div#arrowRight {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.active {
  -webkit-box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
}

.remove {
  animation: keysAnimation 0.5s reverse;
}

@-webkit-keyframes keysAnimation {
  0% {
    background-color: #789395;
  }
  100% {
    -webkit-box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
  }
}

@keyframes keysAnimation {
  0% {
    background-color: #789395;
  }
  100% {
    -webkit-box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0px 5px 12px 12px rgba(0, 0, 0, 0.5) inset;
  }
}
/*# sourceMappingURL=style.css.map */